/* general */
* {
  margin: 0;
  padding: 0;
}
/* #e1b12c => yellow */
/* #44bd32 => green */
:root {
  --main_bg_color: #40739e;
  --main_txt_color: #fefefe;
  --green: #44bd32;
  --yellow: #e1b12c;
}
body {
  background-color: var(--main_bg_color);
  color: var(--main_txt_color);
}
/* icon info */
.about_info_game {
  position: fixed;
  color: #8fb4d4;
  padding: 0px 5px;
  bottom: 30px;
  right: 30px;
  font-size: 28px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.about_info_game:hover {
  color: #fff;
  transform: translateY(-2px);
}
/* section game__header */
.game__h1 {
  font-family: "Russo One", sans-serif;
  text-align: center;
  margin: 30px auto 10px auto;
}
.game__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game__logo {
  width: fit-content;
  margin: auto;
  border-radius: 50%;
}

/* section game__box */
.game__box {
  display: none;
}
.game__guessBox {
  margin: auto;
  text-align: center;
}
.game__input {
  display: block;
  border: 3px solid var(--main_bg_color);
  border-radius: 20px;
  text-align: center;
  width: 300px;
  padding: 6px;
  margin: 20px auto 10px auto;
  outline: none;
  transition: all 0.2s ease-in-out;
  font-size: 22px;
  color: #6900c6;
}
.game__input:focus {
  border-radius: 20px;
  border: 3px solid var(--yellow);
}
::placeholder {
  font-size: 18px;
}

.game__correct,
.game__wrong {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 16px;
  margin: 10px auto;
}

.game__icon {
  width: 24px;
  margin-left: 10px;
}
.game__buttons {
  text-align: center;
}
.game__button__check,
.game__button__restart,
.game__button__start,
.btn_play_again,
.btn_exit_game {
  border: none;
  padding: 7px 15px;
  border-radius: 15px;
  background-color: #feb600;
  color: #333;
  margin-right: 20px;
  transition: all 0.2s ease-in-out;
  outline: none;
  border: 3px solid var(--main_bg_color);
}
.game__button__restart,
.btn_exit_game {
  background-color: #bdc3c7;
}
.game__button__start {
  display: block;
  margin: 20px auto 10px auto;
  padding: 6px 22px;
}
.game__button__check:hover,
.game__button__start:hover,
.btn_play_again:hover {
  background-color: #fea300;
  transform: translateY(-2px);
}
.game__button__restart:hover,
.btn_exit_game:hover {
  background-color: #95a5a6;
  transform: translateY(-2px);
}
.game__button__check:active,
.game__button__restart:active,
.game__button__start:active,
.btn_play_again:active,
.btn_exit_game:active {
  border-radius: 15px;
  border: none;
  outline: none;
}
.game__button__check:focus,
.game__button__restart:focus,
.game__button__start:focus,
.btn_play_again:focus,
.btn_exit_game:focus {
  border-radius: 15px;
  border: 3px solid var(--yellow);
  outline: none;
}
.game__history {
  width: 300px;
  margin: 10px auto;
  /* padding: 10px; */
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 15px;
}
.game__history__record {
  width: 250px;
  margin: 0 auto;
  padding: 5px 0;
  border-bottom: 1px solid #7e7e84a1;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.game__history__record span {
  margin-left: 5px;
  color: #fea300;
  font-size: 19px;
  letter-spacing: 1px;
}
.game__history__record:last-of-type {
  border-bottom: none;
}

/*section  game__user__info */

.game__user__info {
  display: none;
  width: 400px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 20px auto 10px auto;
  padding: 10px;
}
.game__user__info .game__input {
  margin: 10px auto;
}
.game__rangeNumbers,
.game__levelOfGame {
  display: flex;
  justify-content: center;
}
.game__user__info p {
  margin-bottom: 8px;
}
.game__number__range,
.game__level {
  padding: 3px 10px;
  border-radius: 8px;
  background-color: #4d8da7;
  border: 3px solid #6caec7;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.game__number__range:nth-of-type(1),
.game__level:nth-of-type(1) {
  margin-right: 20px;
}
.game__number__range:hover,
.game__level:hover {
  transform: translateY(-2px);
}
.game__number__range:nth-of-type(2),
.game__level:nth-of-type(2) {
  margin-left: 20px;
}
.game__levelOfGame {
  position: relative;
}
.game__levelOfGame__info__easy,
.game__levelOfGame__info__hard {
  position: absolute;
  width: 130px;
  background-color: #335c80;
  color: #fff;
  letter-spacing: 0.75px;
  border: 3px solid #feb72f;
  padding: 8px;
  border-radius: 8px;
  font-size: 13px;
  z-index: 3;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.game__levelOfGame__info__easy {
  top: -42px;
  left: -47px;
}
.game__levelOfGame__info__hard {
  top: -42px;
  right: -47px;
}
.game__levelOfGame__info__hard::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #335c80;
  position: absolute;
  left: -9px;
  top: 41px;
  border-left: 3px solid #feb72f;
  border-bottom: 3px solid #feb72f;
  transform: rotate(45deg);
  border-radius: 3px;
}
.game__levelOfGame__info__easy::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #335c80;
  position: absolute;
  right: -9px;
  top: 41px;
  border-right: 3px solid #feb72f;
  border-top: 3px solid #feb72f;
  transform: rotate(45deg);
  border-radius: 3px;
}
.active {
  background-color: #71bddafa;
  border: 3px solid #9adef9;
  color: #fff;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  border: 3px solid #e74c3c !important;
}
.shake_result {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* popup winner */
.popup_winner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #40739e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.popup_content {
  padding: 20px 10px;
}
.popup_content h2 {
  margin-top: 20px;
  text-transform: capitalize;
}
.popup_content p {
  font-size: 18px;
  text-transform: capitalize;
}
.winner_banner {
  display: block;
  width: 500px;
  margin: auto;
  border-radius: 20px;
}

.btn_play_again {
  display: block;
  margin: 15px auto;
  padding: 7px 50px;
}
.btn_exit_game {
  display: block;
  margin: auto;
  padding: 7px 30px;
}

#display_username,
#number_tries {
  color: #feb72f;
}
#number_tries {
  font-size: 20px;
  font-weight: 500;
}

/* about_game */
.about_game {
  position: absolute;
  top: -3000px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main_bg_color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
  z-index: 333;
}

.about_game_content {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 45%;
  margin: auto;
  border-radius: 10px;
}
.game_about_info {
  position: relative;
  width: 85%;
  margin: auto;
}
.close_about_game {
  position: absolute;
  font-size: 19px;
  padding: 5px;
  cursor: pointer;
  top: 4px;
  right: -13px;
  transition: all 0.2s ease-in-out;
}
.close_about_game :hover {
  color: #feb72f;
}
.game_about_info p {
  text-align: justify;
  color: #d1d6daf2;
}
.game_about_info h3 {
  padding-top: 15px;
}
.about_me_name {
  color: #feb72f;
}
.game_about_me_info p {
  margin-bottom: 5px;
}
.social_links {
  padding-bottom: 10px;
}
.social_links a {
  color: #7ba6ca;
  font-size: 25px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin: 0 5px;
}
.social_links a:hover {
  transform: translateY(2px);
  color: #fff;
}
@media (max-width: 900px) and (min-width: 600px) {
  .about_game_content {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .winner_banner {
    width: 85%;
  }
  .game__h1 {
    font-size: 30px;
  }
  .game__logo {
    width: 100px;
  }
  .about_game_content {
    width: 85%;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
